# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
4. Matplotlib

Data Science Tools:

| Data Science Tools |
|--------------------|
| R Studio           |
| TensorFlow         |
| Spark              |

### Below are a few examples of evaluating arithmetic expressions in Python

$$1 + 1 = 2$$
$$2*2 = 4 $$
$$4/2 = 2$$

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**

- Listed 3 popular languages used in Data Science
- Listed 3 popular development environment used in Data Science
- Listed 3 commonly libraries used in Data Science
- Two example of how to use Python in arithmetic expressions
- Examples of how to create titles

## Author:
Matheus de Oliveira Alves